IMAGE_APP_PORT=8787
IMAGE_APP_HOST=0.0.0.0
IMAGE_APP_DATA_DIR=./data
IMAGE_APP_PUBLIC_BASE_URL=http://localhost:8787
IMAGE_APP_CORS_ORIGINS=http://localhost:5173,http://localhost:8080


SUB2API_BASE_URL=http://localhost:8080
SUB2API_IMAGE_GROUP_NAME=OpenAI生图
SUB2API_IMAGE_GROUP_ID=3
SUB2API_IMAGE_KEY_NAME=OpenAI生图
SUB2API_AUTO_CREATE_KEY=true
IMAGE_APP_REQUEST_TIMEOUT_MS=180000
